{% load static %}

<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
<meta charset="utf-8" />
<title>Business Solutions</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all" />
</head>
<body>
  {% include 'nav.html' %}
	<div id="body">
		<div class="contact">
			<h1>{{object.c_heading}}</h1>
			<p>{{object.c_paragraphs}}</p>	
			<div>	
			<h3>AMERICA</h3>
				<ul>
					<li>Suspendisse potenti suspendisse potenti</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>
			<h3>EUROPE</h3>
				<ul>
					<li>Fusce fermentum dignissim tellus</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>		
			<h3>CANADA</h3>
				<ul>
					<li>Fusce fermentum dignissim tellus</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>
			<h3>MIDDLE EAST</h3>
				<ul>
					<li>This website template has been designed</li>
					<li>1234 By freewebsitetemplates.com for you, for free, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>			
				</ul>	
			</div>	
		</div>
	</div>
		<div id="footer">
			<div>
				<div>
					<h3>america</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>		
				<div>
					<h3>europe</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>canada</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>middle east</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>follow us:</h3>
					<a class="facebook" href="http://facebook.com/freewebsitetemplates" target="_blank">facebook</a>		
					<a class="twitter" href="http://twitter.com/fwtemplates" target="_blank">twitter</a>
				</div>	
			</div>
			<div>
				<p>&copy Copyright 2012. All rights reserved</p>
			</div>
		</div>
	</body>
</html>